@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    --color-1:#001542;
    --color-2:#085454;
    --color-3:#7A7A7A;
    --color-4:#FFFFFF;
    --color-5:#FFB30D;
    --color-6:#7a7a7a69;
    --color-7:yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5f6fa;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    position: sticky;
    width: 100%;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    line-height: 50px;
}
.navbar-banner{
    color: var(--color-4);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.navbar-courses{
    color: var(--color-4);
    width: 40px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
}
.course-items{
    position: absolute;
    top: 10px;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-3);
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}
.slider{
    min-height: 50vh;
    background:url('../img/banner2.jpg') center/
    cover no-repeat;
    position: relative;
}

.brand-banner{
    background-color:var(--color-6);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 10px;
    text-align: center;
}
.brand-banner h3{
    color: #FFFFFF;
    font-size: 70px;
    font-family: 'Dancing Script',cursive;
    text-shadow: 2px 2px 5px var(--color-7);
    cursor: pointer;
    transition: transform 0.5s ease-out;
    animation: 1s ease-out 0s 1 slideanimation ;
}
.brand-banner h3:hover{
    transform: scale(1.05);

}
@keyframes slideanimation {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}    
}
.brand-banner p{
    color: var(--color-4);
    font-size: 16px;
    cursor: pointer;
}
.menu-item{
    background-color: black;
    display: flex;
    justify-content: center;

}
.menu-item ul li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 80px;
    text-align: center;
}
.menu-item ul li a{
    color: white;
    text-decoration: none;
}
.menu-item ul li a:hover{
    color: var(--color-5);
    text-decoration: none;
}
#txtcourstype{
    background-color: var(--color-4);
    color: black;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 1px 1px var(--color-3);
    cursor: pointer;
}
.course-container{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(260px,1fr));
}
img{
   
}
.course{
    background-color: var(--color-4);
}